
.details {
    padding: 15px;
    min-width: 100%;
    width: 0;
    word-wrap: break-word;
}

.details_header {
    display: flex;
    align-items: flex-start;
}

.details_header img {
    max-width:800px;
    max-height:300px;
    width: auto;
    height: auto;
}

.details_header h1 {
    color: green;
    margin: 0;
}

.details_header p {
    font-size: 1.3rem;
}

.details_info {
    margin-left: 50px;
}

.details_detailedInfo {
    max-width: 500px;
    margin-top: 10px;
}

.details_description {

}

.details_description h1 {
    font-size: 1.5rem;
}