header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    margin-left: 5px;
    padding: 10px 15px;
}

.logo {
    margin-left: 15px;
}

.auth .inner-text {
    font-size: 1.1rem;
}

.auth .btn {
    width: 100px;
}