html {
  font-size: 16px;
}

body{
  color: #dcdcdc;
}

p {
  margin: 0;
}

.containerGrid {
  display: grid;
  grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr 100px;
  
  min-height: 100vh;
  
  gap: 0.1em;
  background: rgb(25,6,73);
  background: linear-gradient(90deg, rgba(25,6,73,1) 0%, rgba(129,46,197,1) 100%);
}

header {
  grid-area: header;
  

}

.sidebar{
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

header, footer {
  min-height: 70px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .containerGrid {
    grid-template-areas: 
    'header'
    'sidebar'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
  }
}