<footer>
    <div class="footer_item">
        <div class="box box1">
            
        </div>
    </div>
    <div class="footer_item">
        <div class="box box2">
            
        </div>
    </div>
    <div class="footer_item">
        <div class="box box3">
            
        </div>
    </div>
    <div class="footer_title">
        <p>Movie Catalog 2022</p>
    </div>

    <div class="footer_item">
        <div class="box box3">
            
        </div>
    </div>
    <div class="footer_item">
        <div class="box box2">
            
        </div>
    </div>
    <div class="footer_item">
        <div class="box box1">
            
        </div>
    </div>
</footer>