<header>
    <div class="header_section">
        <div class="header_item logo">
            <img src="~/images/logo.png" alt="logo" width="70px" height="70px">
        </div>
        <div class="header_item title">
            <h1>Title example....</h1>
        </div>
    </div>
    <div class="header_section">
        <div class="header_item auth">
            <button type="button" class="btn btn-primary mx-auto header_item inner-text log-in" data-bs-toggle="modal" data-bs-target="#ModalForm">
                Register
            </button>
            <button type="button" class="btn btn-success mx-auto header_item inner-text log-in" data-bs-toggle="modal" data-bs-target="#ModalForm">
                Login
            </button>
            <partial name="Modals/_LoginModal"/>
        </div>
    </div>
</header>