<header>
    <div class="header_section">
        <div class="header_item logo">
            <img src="~/images/logo.png" alt="logo" width="70px" height="70px">
        </div>
        <div class="header_item title">
            <h1>Title example....</h1>
        </div>
    </div>
    <div class="header_section">
        <div class="header_item auth">
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-controller="User" asp-action="Register" class="btn btn-primary mx-auto header_item inner-text log-in">
                    Register
                </a>
                <a asp-controller="User" asp-action="Login" class="btn btn-success mx-auto header_item inner-text log-in">
                    Login
                </a>
            }
            else
            {
                <a asp-controller="User" asp-action="Logout" class="btn btn-primary mx-auto header_item inner-text log-in">
                    Logout
                </a>
            }
        </div>
    </div>
</header>